{% extends 'base.html' %}
{% block content %}
<form id="myForm2" action="{{ url_for('sendMessage') }}" method="post">
  <label for="dest">Destinatario</label>
  <select class="form-control" name="dest">
    <option>pastaflora@faradaysec.com</option>
    <option>pwndemic@faradaysec.com</option>
    <option>vamomanao@faradaysec.com</option>
  </select>
  <label for="subject">Asunto</label>
  <input class="form-control" type="text" name="subject" required minlength="4" maxlength="20">
  <label for="body">Mensaje</label>
  <textarea class="form-control" rows="3" name="body"></textarea>
</form>
{% endblock %}

{% block footer %}
  <button id="enviar2" class="btn btn-outline-primary">Reportar</button>
{% endblock %}
